Ignacio Arganda-Carreras <ignacio.arganda@gmail.com> <iarganda@tomancak-pc-4.(none)>
Jean-Yves Tinevez <jean-yves.tinevez@pasteur.fr> <tinevez@intel-tinevez-3-302.local>
Jean-Yves Tinevez <jean-yves.tinevez@pasteur.fr> <tinevez@mpi-cbg.de>
Robert Haase <rhaase@mpi-cbg.de>
Stephan Preibisch <stephan.preibisch@gmx.de> <preibisch@mpi-cbg.de>
