###
# #%L
# Fiji distribution of ImageJ for the life sciences.
# %%
# Copyright (C) 2009 - 2025 Fiji developers.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 2 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-2.0.html>.
# #L%
###
# A collection of single-shot plugins for fiji

Image>Drawing, "Radial Gradient", fiji.drawing.Radial_Gradient
Image>Drawing, "Linear Gradient", fiji.drawing.Linear_Gradient

# Radial_Reslice
Image>Stacks, "Radial Reslice", fiji.stacks.Radial_Reslice

# Dynamic_Reslice, implement Reslice command, but auto-update when ROI is moved
Image>Stacks, "Dynamic Reslice", fiji.stacks.Dynamic_Reslice
Image>Hyperstacks, "Re-order Hyperstack ...", fiji.stacks.Hyperstack_rearranger

Image>Adjust, "Auto Crop", fiji.selection.Select_Bounding_Box("autocrop")
Image>Adjust, "Auto Crop (guess background color)", fiji.selection.Select_Bounding_Box("autoautocrop")

Edit>Selection, "Fit Circle to Image", fiji.util.Circle_Fitter
Edit>Selection, "Select Bounding Box", fiji.selection.Select_Bounding_Box
Edit>Selection, "Select Bounding Box (guess background color)", fiji.selection.Select_Bounding_Box("autoselect")
Edit>Selection, "Points from Mask", fiji.selection.Binary_to_Point_Selection
Edit>Selection, "Make rectangular selection rounded", fiji.selection.Rounded_Rectangle

Plugins>Utilities, "Repeat a Recent Command", fiji.util.Recent_Commands

Plugins>Process, "Exact Euclidean Distance Transform (3D)", fiji.process3d.EDT
Plugins>Process, "Exact Signed Euclidean Distance Transform (3D)", fiji.process3d.SEDT

Process>Noise, "ROF Denoise", fiji.denoise.ROF_Denoise

Help, "Help on Menu Item", fiji.help.Context_Help

Image>Color, "Retinex", Retinex_
Image>Color, "Replace Red with Magenta", fiji.color.Convert_Red_To_Magenta
Image>Color, "Replace Red with Magenta (system clipboard)", fiji.color.Convert_Red_To_Magenta_Clipboard

Analyze, "Shape Index Map", fiji.geom.Shape_Index_Map
